{% extends 'basic_app/basic_app_base.html' %}
{% block body_block %}
<!-- We can use the same form template for creating a School instance or
Updating it, therefore we check if an instance with that pk exists or not
if not then it is a new school, if so it is an old school being updated -->
    <h1>
        {% if not form.instance.id %}       <!-- if pk not in db -->
            Create School
        {% else %}                          <!-- if pk in db-->
            Update School
        {% endif %}
    </h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update" class="btn btn-primary bg-success">
    </form>
{% endblock %}