<!DOCTYPE html>
<!-- Required to load static files -->
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
    <link rel="stylesheet" href="{% static 'CSS/my_style.css' %}"/>
</head>
<body>
    <h1>Hi welcome to Django</h1>
    <h2>Here are your access records</h2>
    <h3>Go to /app/form for form</h3>

    <div class="img">
        <img src="{% static 'images/AlPacino' %}" alt="Nothing Here">
    </div>

    <div class="dj2">
        <!-- if a variable named access_records exists do the following. -->
        {% if access_records %}
        <table>
            <thead>
                <th>Site Name</th>
                <th>Date Accessed</th>
            </thead>
            {% for acc in access_records %}
            <tr>
                <td>{{ acc.name }}</td>
                <td>{{ acc.date }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No Access Records found!</p>
        {% endif %}
    </div>
</body>
</html>